*{
    padding: 0;
    margin: 0;
}
.menu{
    padding: 10px;
    list-style: inside;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    /* position: relative; */
    margin: 20px;
    position: absolute;
    right: 0;
    left: 0;
}
.benner{
    height: 100vh;
    background-image: url("/images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu li {
    list-style: none;
    color: black;
    margin-top: 10px ;
    padding: 5px;
}
.menu a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    text-transform: capitalize;
    padding: 10px 20px;
    color: lightgray;
}
.menu a:hover{
    background-color: rgb(112, 112, 112);
    color: white;
}
.contacts{
    display: none;
    width: 200px;
    padding: 20px;
    right: -10px;
    top: 75px;
    position: absolute;
    text-align: center;
    background-color: lightslategray;
    border-radius: 5px;
}
.contact-li:hover .contacts {
    display: block;
    position: absolute;
}

/* benner section starts from here */
.benner{
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    text-align: right;
    align-items: center;
}

.benner-info{
    width: 50%;
    padding-right: 100px;
}
.benner-heading{
    font-size: 55px;
    font-weight: 800;
}
span{
    color: tomato;
}
.benner-description{  
    margin: 10px 0px;
    font-size: 20px;
    padding-left: 250px;
}
.btn{
    width: 150px;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bolder;
    border: none;
    background-color: tomato;
    transition: all 1s ease-out;
}
.btn:hover{
    transform: scale(1.5);
}
/* benner section end here */


/* about me starts from here */
.about{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    height: 100vh;
    padding: 100px;
    /* gap: 200px; */
}
.about-description{
    font-size: 20px;
    margin-top: 10px;
}
.about-div2 > ul{
    padding: 0 20px;
    margin-top: 10px;
    font-size: 20px;
}
.about-div2{
    margin-left: 200px;
}
.about-div1{
    width: 50%;
}

section{
    margin-top: 300px;
}
/* my plans starts from here */
.my-plans{
    display: flex;
    justify-content: space-around;
    height: 30vh;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}
.plan{
    text-align: center;
}
.plans-container-heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 55px;
}
.plans__heading{
    height: 40px;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    width: 50%;

}
.contact-now{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-now > input{
    padding: 10px;
}